# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
.idea/
.vs/
*_ReSharper.Caches/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/

# VS Code directories
.vscode/

# Other files and folders
*.log
*.tlog
/Event-Organizer.web/bin/Debug/net8.0/appsettings.Development.json
/Event-Organizer.web/bin/Debug/net8.0/appsettings.json
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.deps.json
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.dll
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.exe
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.pdb
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.runtimeconfig.json
/Event-Organizer.web/bin/Debug/net8.0/Event-Organizer.web.staticwebassets.runtime.json
