@page
@model Event_Organizer.web.Pages.EventConfirmationModel
@{
    ViewData["Title"] = "Event Confirmation";
}

<div class="text-center bg-white p-4 rounded shadow" style="max-width: 500px; margin: auto; margin-top: 50px;">
    <div class="position-relative text-center">
        <h3>Event Created!</h3>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger rounded-circle position-absolute top-0 end-0" data-bs-toggle="modal" data-bs-target="#tutorialModal">
            <i class="bi bi-question-circle"></i>
        </button>
    </div>


    <div class="mb-3">
        <input id="eventLink" type="text" class="form-control" value="@TempData["EventLink"]" readonly>
    </div>
    <div style="margin-bottom: 5px;">
        <button class="btn btn-primary" onclick="copyToClipboard()">Copy URL</button>
    </div>

    <form method="get" action="/UserSelect">
        <input type="hidden" name="eventId" value="@TempData["EventId"]" />
        <button type="submit" class="btn btn-primary" style="margin-top: 1px;">Proceed to event list</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="tutorialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<h4>This is the link for your event.</h4>
				<p>Share it with those who are going to participate in the event.</p>
				<p>Having access to the link means being able to add/edit/remove activities, as well as voting.</p>
				<p>Dont loose the link, or you will have to create a new event.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("eventLink");
            copyText.select();
            copyText.setSelectionRange(0, 99999);  // För mobila enheter
            document.execCommand("copy");

            alert("Länk kopierad till urklipp: " + copyText.value);
        }
    </script>