@page
@model Event_Organizer.web.Pages.EventConfirmationModel
@{
    ViewData["Title"] = "Event Confirmation";
}

<div class="bg-white p-4 rounded shadow mt-1 text-center" style="max-width: 500px; margin: auto;">
    <h1>In the box below, you'll find a link to the event.</h1>
    <p>Share it with those who are going to participate in the event.</p>
    <p>Having access to the link means being able to add/edit/remove activities, as well as voting.</p>
    <p></p>
    <p style="color: red; font-weight: bold; background-color: yellow; padding: 10px; border: 2px solid red;">
        Don't lose the link, or you will have to create a new event.
    </p>
</div>
<div class="text-center bg-white p-4 rounded shadow" style="max-width: 500px; margin: auto; margin-top: 10px;">
    <div class="position-relative text-center">
        <h3>Event Created!</h3>
    </div>


    <div @* class="mb-3" *@>
        <input id="eventLink" type="text" class="form-control" value="@TempData["EventLink"]" readonly>
    </div>
    <div style="margin-bottom: 5px;">
        <button class="btn btn-primary" onclick="copyToClipboard()">Copy URL</button>
    </div>

    <form method="get" action="/UserSelect">
        <input type="hidden" name="eventId" value="@TempData.Peek("EventId")" />
        <button type="submit" class="btn btn-primary" style="margin-top: 1px;">Proceed to event list</button>
    </form>

</div>



<script>
    function copyToClipboard() {
        var copyText = document.getElementById("eventLink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);  // För mobila enheter
        document.execCommand("copy");

        alert("Länk kopierad till urklipp: " + copyText.value);
    }
</script>