@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<form method="POST">
		<div>
			<input asp-for="EventName"
				   placeholder="Name your event now!!!" />
		</div>
		<input type="submit" />
	</form>
</div>
