@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-white p-4 rounded shadow mt-4 text-center" style="max-width: 400px; margin: auto;">
    <h1>Welcome to Event Organizer!</h1>
    <h5>Here you will create an event and invite your friends to take part of it!</h5>
    <p></p>
    <p>Start by naming your event.</p>
</div>
<div class="text-center mt-3">
    <form method="POST" class="bg-white p-4 rounded shadow" style="max-width: 400px; margin: auto;">
        <div class="position-relative">
            <div class="d-flex align-items-center">
                <input asp-for="EventName" class="form-control pe-5" placeholder="Name your event" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
    </form>
</div>





